@font-face {
    font-family: 'Common Pixel';
    font-style: normal;
    font-weight: 400;
    src: local('Common Pixel'), url('/assets/fonts/Common-Pixel.woff') format('woff');
}

:root {
	--white: #f3f3f3;
    --black: #000000;
    --darkgrey: #202020;
    --smaller: .75;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
	margin: 0;
	padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--darkgrey);
    align-items: center;
    display: flex;
}


:disabled {
    cursor: default;
}

/* Ensure the default browser behavior of the `hidden` attribute. */
[hidden] {
  display: none;
}

/* CD */

.container {
    color: #999;
    margin: 0 auto;
    font-family: 'Common Pixel', sans-serif;
    text-align: center;
    user-select: none;
}

.container h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

.container ul {
	width: 100%;
	padding:0;
}

.container li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.container li span {
    display: block;
    font-size: 4.5rem;
}

@media all and (max-width: 768px) {
    .container h1 {
	  font-size: calc(1.25rem);
    }
    
    .container li {
      font-size: calc(1.125rem * var(--smaller));
	  padding: 1em .5em 1em .5em;
    }
    
    .container li span {
      font-size: calc(3.375rem * var(--smaller));
    }
}

.welcome {
    display: none;
    padding: 1rem;
}

.welcome span {
    font-size: 4rem;
    padding: 0 .5rem;
}