:root {
    --bs-body-font-size: 17px;
    --c-accent: #C118AD;

    --bs-primary-bg-subtle: #230F34;
    --bs-secondary-bg-subtle: #E894FF;
    --bs-body-bg: #212529;
    --bs-body-color: #DEE2E6;
}

@font-face {
    font-family: Moontime;
    src: url("../assets/fonts/MoonTime-Regular.ttf");
}

@font-face {
    font-family: Bebas-Neue;
    src: url("../assets/fonts/BebasNeue-Regular.ttf");
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav-top {
    position: fixed;
    width: 100%;
    z-index: 1000;

    nav.navbar {
        --bs-navbar-active-color: #DEE2E6;
        --bs-navbar-disabled-color: #8a98a6;
        --bs-navbar-brand-color: #DEE2E6;
    }
}

section {
    padding-bottom: 80px;
    padding-top: 80px;
}

#title-card {
    .container-fluid {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    h3 {
        color: white;
        margin-bottom: 20px;
    }
    h1 {
        margin-bottom: 0;
    }
    #theme-text {
        font-family: "Bebas-Neue", sans-serif;
        color: #e894ff;
        font-size: calc(4.5rem + 4.5vw);
        text-shadow: 0 0 10px #970fbd;
    }
    #theme-overlay-text {
        margin-top: 40px;
        font-family: "Moontime", sans-serif;
        color: #48eaff;
        font-size: calc(5.5rem + 4.5vw);
        text-shadow: 0 0 5px #b3fcff;
    }
}

#start-info {
    padding-top: 80px;
    padding-bottom: 80px;
}

//.navbar {
//    .nav-item + .nav-item::before {
//        content: "||";
//    }
//}

#process .card {
    padding: 0;
    width: 40%;
    min-width: 500px;
    min-height: 350px;
    --bs-card-bg: #230F34;

    .card-img-top {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }

    .card-body {
        padding: 24px;
    }
}

#logistics {
    #logistics-map {
        height: 500px;
        max-width: 45%;
    }
    #logistics-right {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 45%;
    }
}

#schedule {
    .col {
        max-width: 500px;
        min-width: 400px;
    }
    table {
        th {
            background-color: var(--c-accent);
            color: var(--bs-light);
        }
        td {
            background-color: var(--bs-primary-bg-subtle);
            color: var(--bs-light);
        }
    }
    color: var(--bs-dark);
}